services:
  app:
    build: .
    command: ["node", "dist/src/main.js"]
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/chat
      REDIS_HOST: redis
      REDIS_PORT: 6379
      JWT_ACCESS_SECRET: change_me_access
      JWT_REFRESH_SECRET: change_me_refresh
    depends_on:
      - mongo
      - redis
  mongo:
    image: mongo:7
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
volumes:
  mongo-data:
